.form_wrapper{
  max-width:800px;
}
.row{
  padding: 10px;
}
.row_right{
  text-align: right;
  padding: 10px;
}
.col{
  vertical-align: top;
  display: inline-block;
  min-width: 60px;
}
.text_input{
  margin: 0 10px;
  height: 4em;
  width: 400px;
  font-size: 2em;        
}
.tag_input{
  margin: 0 10px;
  width: 400px;
  font-size: 1em;    
}
.submit_btn{
  display: inline-block;
  background-color: #2222ee;
  border: solid;
  border-width: 1px;
  color: #ffffff;
  margin: 5px 10px auto auto;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;

}