$BORDER_COLOR: #eeeeee;
$BORDER_COLOR_BOTTOM: #888888;
.quote{
  border: solid;
  border-width: 2px;
  margin-bottom: 1px;
  border-color: $BORDER_COLOR;
  max-width:500px;
  margin: 10px auto;
  border-bottom-color: $BORDER_COLOR_BOTTOM;
  border-right-color: $BORDER_COLOR_BOTTOM;
  padding: 10px;
  border-radius:5px;
}
.quote_text{
  border: solid;
  background-color: #eeeeeeee;
  color: #000000;
  padding: 10px;
  font-size: 1.5em;
  border-width: 1px;
  border-color: $BORDER_COLOR;
  border-radius:4px;
  border-top-color: $BORDER_COLOR_BOTTOM;
  border-left-color: $BORDER_COLOR_BOTTOM;
  margin-bottom: 10px;
}
.quote_tag{
  display: inline-block;
  border-width: 1px;
  border-color: $BORDER_COLOR;
  border-radius:4px;
}

.edit_btn{
  align: right;
  background-color: #2222ee;
  border: solid;
  border-width: 1px;
  border-color: $BORDER_COLOR;
  border-bottom-color: $BORDER_COLOR_BOTTOM;
  border-right-color: $BORDER_COLOR_BOTTOM;
  color: #ffffff;
  margin: 5px 10px auto auto;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
}
.copy_wrapper{
  display: block;
  text-align: right;
}
.copy_btn{
  border: solid;
  border-width: 2px;
  border-color: $BORDER_COLOR_BOTTOM;
  color: #777777;
  margin: 5px 10px auto auto;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
}