.tag{
  display: inline-block;
  background-color: #99d0ee;
  color: #000088;
  border: solid;
  border-width: 2px;
  margin-bottom: 10px;
  max-width:500px;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  a{
    padding: 5px;
    text-decoration: none;
  }
}