$BACK_GROUND_COLLOR:#242424;
$BORDER_COLOR: #eeeeee;
$BORDER_COLOR_BOTTOM: #888888;
html{
  background-color:$BACK_GROUND_COLLOR;
  color:#fff;
  padding:0;
}
body{
  padding:0;
  margin:0;
}
.top{
  text-align: left;
  width:100%;
  background-color:rgba(#000,0.3);
  position: fixed;
}
.create_form{
  display: inline-block;
  height: 100%;
  width:300px;
}
.top_d{
  display: block;
  width:100%;
  height:8em;
}
.title{
  display: inline-block;
  width:200px;
  font-size:3em;
}
.create_btn{
  height: 100%;
  background-color: #888888;
  border: solid;
  border-width: 1px;
  border-color: $BORDER_COLOR;
  border-bottom-color: $BORDER_COLOR_BOTTOM;
  border-right-color: $BORDER_COLOR_BOTTOM;
  color: #ffffff;
  margin: 5px 10px auto auto;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
}