<!DOCTYPE html>
<html>
<head>
	<title>Goroku</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/goroku.css">
	<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script> 
	<script type="text/javascript" src="/js/jquery-verticalcentering-plugin.min.js"></script> 
	<script type="text/javascript" src="/js/goroku.js"></script>
</head>
<body>
	<div id="search"></div>
	<div id="goroku">
		<div id="panel-container">
			<div id="scroll_top"></div>
			<div id="inner-container"></div>
			<div id="scroll_bottom"></div>
		</div>
	</div>
</body>
</html>
